.chat-type {
    height: 15%;
    width: 100%;
    /*padding: 10px 10px;*/
    box-sizing: border-box;
    border: 1px solid;
}

.typeArea {
	width: 85%;
	height: 94%;		
}
.typeButton {
	display: inline-block;
	width: 14%;
	height: 100%;
    vertical-align: top;
}
.typeButton button {
	width: 100%;
	display: block;
}

._submit {
	height: 60%;
}
._clear {
	height: 40%;
}

